@{
    ViewData["Title"] = "HomePage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ResumeBuilder</h1>
    <p>Build your Resume quick and fast with just few questions</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
